* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

h1,
h2,
h3,
p,
ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  color: #003f5b;
}

p {
  line-height: 1.7;
}

article {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding-left: 1em;
  padding-right: 1em;
}

img {
  border-radius: 2em;
}
