---
import "../styles/styles.css";
import AnmeldCard from "./AnmeldCard.astro";
---

<article class="anmeldelser">
  <h2>Hvad siger vores kunder?</h2>
  <div class="cards">
    <AnmeldCard>
      <h3>Super</h3>
      <p>Selve filteret fylder en smule, men det er det hele værd, fordi det fungerer super. Det er en stor fordel at slippe for kalk i elkedlen og kaffemaskinen, og samtidig smager kaffen meget bedre. En god løsning til renere og mere velsmagende drikkevand!</p>
    </AnmeldCard>

    <AnmeldCard>
      <h3>Spar tid på rensning af vand og flaske</h3>
      <p>Flasken fungerer virkelig godt!! Jeg blev træt af at skulle rense flasker stort set dagligt grundet løbende risiko for forurening af både vand + manglende rensning, hvorfor denne flaske var lige, hvad jeg manglede. Stor anbefaling!</p>
    </AnmeldCard>

    <AnmeldCard>
      <h3>Jeg fik endelig den hjælp jeg havde…</h3>
      <p>Jeg fik endelig den hjælp jeg havde brug for og medarbejderen var rigtig sød og behjælpelig så jeg vil lige takke Sofie for hendes forståelse og tålmodighed. På den anden side tror jeg jeg har fundet hoved og hale i min vandhane.</p>
    </AnmeldCard>

    <AnmeldCard>
      <h3>Kæmpe anbefaling</h3>
      <p>Jeg kan varmt anbefale LUMI flasken. Udover at være utrolig flot og praktisk, får du også en kundeservice, der virkelig gør en forskel.</p>
    </AnmeldCard>
  </div>
</article>

<style>
  .anmeldelser {
    margin-top: 2em;
  }

  .cards {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr; /* 2 kolonner på mobil */
    padding-bottom: 1rem;
  }

  @media (min-width: 769px) {
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 10px;
    }
  }
</style>
