---
import "../styles/style.css";
---

<article>
  <h2>Hvad siger vores kunder?</h2>

  <div class="anmeldelser">
    <div class="ramme">
      <div class="a-person">
        <img class="a-billede" src="/imgs/anmeldelse.webp" alt="" />
      </div>
      <h3>Super</h3>
      <p>Selve filteret fylder en smule, men det er det hele værd, fordi det fungerer super. Det er en stor fordel at slippe for kalk i elkedlen og kaffemaskinen, og samtidig smager kaffen meget bedre. En god løsning til renere og mere velsmagende drikkevand!</p>
    </div>

    <div class="ramme">
      <div class="a-person">
        <img class="a-billede" src="/imgs/anmeldelse.webp" alt="" />
      </div>
      <h3>Spar tid på rensning af vand og flaske</h3>
      <p>Flasken fungerer virkelig godt!! Jeg blev træt af at skulle rense flasker stort set dagligt grundet løbende risiko for forurening af både vand + manglende rensning, hvorfor denne flaske var lige, hvad jeg manglede. Stor anbefaling!</p>
    </div>

    <div class="ramme">
      <div class="a-person">
        <img class="a-billede" src="/imgs/anmeldelse.webp" alt="" />
      </div>
      <h3>Jeg fik endelig den hjælp jeg havde…</h3>
      <p>Jeg fik endelig den hjælp jeg havde brug for og medarbejderen var rigtig sød og behjælpelig så jeg vil lige takke Sofie for hendes forståelses og toldmodighed. På den anden side tror jeg jeg har fundet hoved og hale i min vandhane.</p>
    </div>

    <div class="ramme">
      <div class="a-person">
        <img class="a-billede" src="/imgs/anmeldelse.webp" alt="" />
      </div>
      <h3>Kæmpe anbefaling</h3>
      <p>Jeg kan varmt anbefale LUMI flasken. Udover at være utrolig flot og praktisk, får du også en kundeservice, der virkelig gør en forskel.</p>
    </div>
  </div>
</article>

<style>
  .anmeldelser {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr; /* 2 kolonner på mobil */
    padding-bottom: 1rem;
  }

  @media (min-width: 769px) {
    .anmeldelser {
      grid-template-columns: repeat(4, 1fr); /* 4 kolonner på desktop */
    }
  }

  .ramme {
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px 20px;
  }

  .a-billede {
    width: 40%;
  }

  .a-person {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
