---
const { text, variant } = Astro.props;
---

<button class={variant}>{text}</button>

<style>
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    margin: 0.8em;
    border: 2px solid transparent; /* Usynlig kant til at starte med */
    transition: all 0.3s ease; /* Glidende overgang */
  }

  .light {
    color: #3b3737;
    background-color: #aac2d2;
  }

  .dark {
    background-color: #003f5b;
    color: #ffffff;
  }

  .light:hover {
    background-color: #003f5b;
    color: #aac2d2;
  }

  .dark:hover {
    background-color: #aac2d2;
    color: #3b3737;
    border-color: #003f5b;
  }
</style>
