---

---

<div class="footer_grid">
  <div class="grid_information">
    <div class="liste_footer">
      <h1 class="h1_footer">Information</h1>
      <ul>
        <li><a href="/">Hjem</a></li>
        <li><a href="/productsite">Produkter</a></li>
        <li><a href="/om">Om</a></li>
      </ul>
    </div>
    <div class="footer_grid_1">
      <a class="social" href="https://www.facebook.com/profile.php?id=61567248033356"><img src="/imgs/face.webp" alt="facebook" /></a>
      <a class="social" href="https://www.instagram.com/drinklumi.dk/"><img src="/imgs/insta.webp" alt="instagram" /></a>
      <a class="social" href="https://www.figma.com/design/xAiYtIyUH6ytlyyquz6Hmu/Gruppe-4---eksamen?node-id=500-524&t=XyoLVxV72VV6hDHc-1"><img src="/imgs/tiktok.webp" alt="tik tok" /></a>
      <a class="social" href="https://www.figma.com/design/xAiYtIyUH6ytlyyquz6Hmu/Gruppe-4---eksamen?node-id=500-240&t=XyoLVxV72VV6hDHc-1"><img src="/imgs/linkedin.webp" alt="linked in" /></a>
    </div>

    <div class="footer_grid_1-1">
      <p class="p_footer2">4.7/5.0 stjerner på Trustpilot</p>
      <img src="/imgs/trust.webp" alt="trustpilot stjerner" />
    </div>

    <div class="footer_grid_1-1-1">
      <img class="emark" src="/imgs/emark.webp" alt="emærke" />
      <p>E-mærket</p>
    </div>
  </div>

  <div class="grid_dansk">
    <h1 class="h1_footer">Dansk firma</h1>
    <p class="p_footer">Som dansk firma har vi stor fokus på at skabe en sikker e-handel for vores kunder. Drink Lumi ApS/drinklumi.dk er derfor både e-mærket, og vores selvrensende vandflaske er CTI-godkendt. Derudover er vores LUMI Pure RoHS- og EU CE-certificeret. Har du spørgsmål til dette eller andet, tøv ikke med at kontakte os på <a class="maila" href="mailto:info@drinklumi.com">info@drinklumi.com</a>.</p>
  </div>

  <div class="footer_betaling">
    <div class="footer_betaling2">
      <img src="/imgs/apple.webp" alt="applepay" />
      <img src="/imgs/google.webp" alt="googlepay" />
      <img src="/imgs/master.webp" alt="mastercard" />
      <img src="/imgs/visa.webp" alt="visakort" />
    </div>
    <div class="p_footer">
      <p class="p_underlinje">© 2025 LUMI <a class="maila" href="mailto:info@drinklumi.com">info@drinklumi.com</a> CVR: 44971429, Drink Lumi ApS</p>
    </div>
  </div>

  <div class="footer_video">
    <a href="/">
      <video autoplay muted loop playsinline>
        <source src="vids/lumi3.mp4" type="video/mp4" />
        Din browser understøtter ikke videoer.
      </video>
    </a>
  </div>
</div>

<style>
  /** P & A */
  p,
  a {
    font-family: Arial, Helvetica, sans-serif; /** Font */
    line-height: 1.6; /** Linjehøjde */
  }

  .h1_footer {
    padding-bottom: 0.5em;
    padding-top: 2em;
    font-size: 1.5rem;
  }

  .p_footer p {
    padding-top: 0.5em;
  }

  /** FOOTER 1 **/
  .footer_grid {
    display: grid; /* Grid */
    grid-template-columns: 1fr 1fr; /** 2 koloner */
    gap: 20px; /** Mellemrum */
    margin-left: 2em;
    margin-right: 2em;
  }

  /** GRID MED SOME **/
  .footer_grid_1 {
    display: grid; /** Grid */
    grid-template-columns: 1fr 1fr 1fr 1fr; /** 4 koloner */
    width: 150px; /** Bilelde-størrelse */
    gap: 10px; /** Mellemrum */
  }

  /** BILLEDER I SOME */
  .footer_grid_1 img {
    width: 30px; /** Størrelse på billeder */
    padding-top: 1em;
    border-radius: 0em;
  }

  /** TRUSTPILOT **/
  .footer_grid_1-1 img {
    width: 50%; /** Størrelse på trustpilot */
    margin-top: -10px; /** Mindre mellemrum til p */
    padding-top: 1em;
    border-radius: 0em;
  }

  .p_footer2 {
    font-size: 0.9rem; /** Font størrelse */
    padding-top: 1em;
  }

  /** EMARK */
  .footer_grid_1-1-1 img {
    width: 20px; /** Størrelse på billede */
  }

  .footer_grid_1-1-1 {
    padding-top: 1em;
  }
  .footer_betaling {
    margin-top: -10%;
  }

  .footer_betaling img {
    border-radius: 0em;
  }

  .footer_grid_1-1-1 {
    display: flex; /** På linje */
    gap: 10px; /** Mellemrum */
    align-items: center; /** E-mærke ikke strukket */
  }

  /** LISTSTYLE */
  li {
    list-style: none; /** Ingen prikker */
  }

  ul {
    padding-left: 0; /** Fjerner mellemrum */
  }

  li a {
    text-decoration: none; /** Ingen underscore */
    color: black; /** Sort farve */
    line-height: 1.6; /** Linjehøjde */
  }

  /** OVERSKRIFT + P I FOOTER */
  .h1_footer h1 {
    font-family: Arial, Helvetica, sans-serif; /** Font */
    font-size: 1.5rem; /** Font størrelse */
  }

  .p_footer p {
    line-height: 1.6; /** Linjehøjde */
    text-align: center;
    font-size: 0.7rem;
  }

  /** BETALINGSMIDLER */
  .footer_betaling2 {
    display: grid; /** Grid */
    grid-template-columns: 1fr 1fr 1fr 1fr; /** 4 koloner */
    gap: 10px; /** Mellemrum */
  }

  .footer_betaling2 img {
    width: 100%; /** Billede størrelse */
  }

  /** LUMI VIDEO DRÅBE */
  video {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8em;
    padding: 0;
  }

  video {
    vertical-align: middle;
    line-height: 0;
    margin: 0 auto;
    padding: 0;
  }

  /** SKRIFT EFTER BETALINGSMIDLER */
  .p_underlinje p {
    font-size: 0.7rem; /** Font størrelse */
    text-align: center; /** I midten */
  }

  /** MAIL LINKS */
  .maila {
    text-decoration: none; /** Ingen underscore */
    color: black; /** Farve */
    font-weight: bold; /** Fed */
  }

  .footer_betaling {
    padding-top: 65px;
  }

  @media (min-width: 700px) {
    .footer_betaling {
      padding-top: 80px;
    }
  }

  @media (min-width: 600px) {
    .footer_betaling {
      padding-top: 80px;
      left: 40%; /** Midten */
    }
  }

  /** DESKTOP */
  @media (min-width: 900px) {
    /** INFORMATION, DANSK, LUMI & BETALING */
    .footer_grid {
      grid-template-columns: 1fr 1fr 1fr; /** 3 koloner i stedet for 2 */
      margin-left: 4rem;
      margin-right: 4rem;
    }
    .footer_betaling {
      order: 1; /** Omvendt rækkefølge */
      margin-top: -60px;
    }

    /** BETALING */
    .footer_betaling {
      position: relative;
      left: 15%; /** Midten */
      transform: translateX(50%); /** Midten */
    }

    /** Trustpilot */
    .footer_grid_1-1 img {
      margin-top: -10px; /** Stjerner tættere på tekst */
    }

    .p_footer2 p {
      font-size: 1rem; /** Mindre font */
    }

    /** BETALING */
    .footer_betaling2 {
      width: 280px; /** Mindre billeder */
      margin-left: 4em;
      margin-right: 2em;
    }

    .p_underlinje p {
      font-size: 0.8rem; /** Mindre font */
    }

    /** VIDEO */
    video {
      padding-top: 50px; /** Mere afstand til top */
    }

    video {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 5em;
      padding: 0;
    }

    video {
      vertical-align: middle;
      line-height: 0;
      margin: 0 auto;
      padding: 0;
    }
  }

  @media (min-width: 980px) {
    .footer_betaling {
      position: relative;
      left: 40%; /** Midten */
      transform: translateX(50%); /** Midten */
    }
  }

  @media (min-width: 1120px) {
    .footer_betaling {
      position: relative;
      left: 50%; /** Midten */
      transform: translateX(50%); /** Midten */
    }
  }
</style>
