---
import "../styles/styles.css";
---

<article>
  <div class="forurening">
    <div class="order">
      <img src="/imgs/glasvandhane.webp" alt="" />
    </div>

    <div class="ftekst">
      <h2>Fourening i danske drikkevandskilder</h2>

      <p>Ny forskning fra Københavns Universitet (KU) og Dansk Regioner har afsløret hidtil uopdagede kemikalier i dansk drikkevand. Over 50% af Danmarks drikkevandskilder er forurenet af bakterier, pesticider og industrielle kemikalier."Vi er nået et punkt, hvor der skal gøres noget lige nu, hvis der også skal være rent grundvand og drikkevand til de næste generationer - og til os selv." - Mads Duedahl, næstformand i Danske Regioner</p>
    </div>
  </div>
</article>

<style>
  @media (min-width: 769px) {
    .forurening {
      display: grid; /* Grid layout på desktop */
      grid-template-columns: 1fr 1fr; /* 2 kolonner */
      gap: 10px; /* Mellemrum mellem kolonner */
      margin-top: 2em;
      margin-bottom: 3em;
    }

    .order {
      display: block;
      order: -1; /* Rykker element op i rækkefølgen */
      padding-left: 20px;
    }
  }

  @media (max-width: 768px) {
    .ftekst {
      padding-top: 1em; /* Luft over tekst på mobil */
    }
  }
</style>
