---

---

<section>
  <div>
    <img src="img/lumi_ejere.png" alt="Lumis Ejere" />
  </div>
  <div>
    <h2>Vores historie</h2>
    <p>
      LUMI blev skabt for at imødegå de udfordringer, vi står over for med vores drikkevand. Ny forskning fra Københavns Universitet har afsløret hidtil uopdagede kemikalier i dansk drikkevand. Over 50% af Danmarks drikkevandskilder er forurenet af pesticider og industrielle kemikalier, og mere end 10% overskrider sikkerhedsgrænserne.
      <br /><br />

      Dette gør rent drikkevand til en udfordring. Vores UV-lys teknologi eliminerer 99,99% af skadelige bakterier og vira, så du kan føle dig tryg ved at drikke vand fra LUMI flasken.
    </p>
  </div>
</section>

<style>
  img {
    margin: 0 auto;
    width: 70%;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
  section {
    background: rgba(0, 113, 164, 0.25);
  }

  h2 {
    margin-left: 1.5rem;
    font-weight: 700;
  }
  p {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    line-height: 22px;
    font-size: 13px;
    padding-bottom: 2rem;
    margin-right: 0.5rem;
  }

  @media (min-width: 600px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
    img {
      width: 60%;
      margin-top: 8rem;
      margin-bottom: 8rem;
    }
    h2 {
      margin-top: 11rem;
      font-size: 40px;
    }
    p {
      font-size: 20px;
      line-height: 30px;
      margin-right: 9rem;
      margin-top: 2rem;
    }
  }
</style>
