---
import "../styles/styles.css";
---

<h2>6 hurtige om Lumi</h2>
<section>
  <div>
    <h3>
      <img src="/imgs/pesticider.svg" alt=" pesticider" class="svg" />Pesticider
    </h3>
    <p>Det avancerede filtreringssystem binder og fjerner pesticider ved adsorption, hvilket gør dit vand sikrere at drikke.</p>
  </div>
  <div>
    <h3>
      <img src="/imgs/pfas.svg" alt="pfas" class="svg" />PFAS
    </h3>
    <p>Ved brug af aktivt kul absorberer LUMI Pure PFAS, skadelige kemikalier, der ofte findes i drikkevand, og reducerer koncentrationen effektivt.</p>
  </div>
  <div>
    <h3>
      <img src="/imgs/kalk.svg" alt="kalk" class="svg" />Kalk
    </h3>
    <p>LUMI Pure fjerner kalk ved at reducere calcium- og magnesiumioner, hvilket hjælper med at forhindre kalkaflejringer i dit drikkevand.</p>
  </div>
  <div>
    <h3>
      <img src="/imgs/tungmetaller.svg" alt="tungmetaller" class="svg" />Tungmetaller
    </h3>
    <p>LUMI Pure reducerer effektivt tungmetaller som bly og kobber ved ionbytning og adsorption, hvilket beskytter din sundhed.</p>
  </div>
  <div>
    <h3>
      <img src="/imgs/sundhed.svg" alt="sundhed" class="svg" />Sundhed
    </h3>
    <p>Din sundhed er vores førsteprioritet. Med LUMI sikrer vi, at du altid kan drikke rent vand, fri for skadelige mikroorganismer.</p>
  </div>
  <div>
    <h3>
      <img src="/imgs/innovation.svg" alt="innovation" class="svg" />Innovation
    </h3>
    <p>Vi forener avanceret teknologi med elegant skandinavisk design for at tilbyde effektiv og brugervenlig vandrensning.</p>
  </div>
</section>

<style>
  h2 {
    text-align: center; /* Midterstiller overskrift */
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .svg {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle; /* Justerer ikon ved siden af tekst */
  }

  div {
    background: rgba(191, 219, 232, 0.5); /* Lys blå baggrund */
    border-radius: 31px; /* Runde hjørner */
    width: 297px;
    height: 157px;
    flex-shrink: 0; /* Forhindrer at boksen bliver trykket sammen */
    margin: 0 auto; /* Centrerer boksen */
    margin-bottom: 2rem;
  }

  h3 {
    font-weight: 700;
    text-align: center;
    padding-top: 1.5rem;
  }

  p {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    line-height: 22px;
    padding-bottom: 2rem;
    margin-right: 0.5rem;
  }

  @media (min-width: 769px) {
    h2 {
      margin-top: 6rem;
      margin-bottom: 4rem;
    }

    div {
      width: 450px;
      height: 245px;
      border-radius: 31px;
      background: rgba(191, 219, 232, 0.5);
      margin: 0 auto;
      margin-bottom: 4rem;
    }

    section {
      display: grid; /* 2 kolonner på stor skærm */
      grid-template-columns: 1fr 1fr;
      gap: 1px;
    }

    h3 {
      font-weight: 400; /* Lettere tekst */
      margin-top: 1rem;
    }

    p {
      font-weight: 100; /* Tyndere tekst */
      margin-right: 1rem;
    }

    .svg {
      width: 48px;
      height: 48px;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 1rem;
    }
  }
</style>
