---

---

<article class="info-tekst">
  <div>
    <h1>Rent vand til alle – hver dag, direkte fra hanen</h1>
    <p>Hos Lumi Pure mener vi, at alle fortjener adgang til rent og velsmagende drikkevand – nemt, prisvenligt og uden at gå på kompromis med sundhed eller miljø. Vores vandfilter er udviklet til at fjerne kalk, bakterier og pesticidrester direkte fra din vandhane, så du og din familie kan drikke trygt – hver dag. Du undgår både tungt flaskebæring og mikroplast fra engangsflasker, samtidig med at du skåner klimaet og reducerer dit plastforbrug. Lumi Pure er en investering i dig selv og din hverdag. Du sparer penge i længden, slipper for engangsplastik, og får renere, sundere vand – direkte fra hanen. Nem at installere. Nem at bruge. God for både dig og planeten.</p>
  </div>

  <div>
    <img src="../public/imgs/lumiinfo.webp" alt="Glas fyldest med vand" />
  </div>
</article>

<style>
  article {
    display: grid;
    grid-template-rows: 1fr;
    gap: 0.5em;
    align-items: center;
    margin-right: 4em;
    margin-left: 4em;
    margin-top: 6em;
  }

  article img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px; /* afrunder hjørner */
  }

  .info-tekst {
    line-height: 1.8;
    color: #003f5b;
  }

  .info-tekst h1 {
    font-size: 1.2em;
  }

  .info-tekst p {
    font-size: 0.9em;
  }

  @media (min-width: 769px) {
    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }

    .info-tekst h1 {
      font-size: 2em;
    }

    .info-tekst h2 {
      font-size: 1.5em;
    }
  }
</style>
